<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" alt="" id="logoAP">
        </div>
        <div class="redes">
                <a href="" id="linkedin"><img src="../../../assets/linkedin.png" alt="" id="linkedin"></a>
                <a href="" id="github"><img src="../../../assets/github.png" alt=""></a>
                <a href="" id="facebook"><img src="../../../assets/facebook.png" alt=""></a>
                <a href="" id="instagram"><img src="../../../assets/instagram.png" alt=""></a>
                <a href="" id="twitter"><img src="../../../assets/twitter.png" alt=""></a>
                <button type="button" class="btn btn-outline-light">Ingreso</button>
        </div>
    </div>
</div>

