<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/auto-en-movimiento-1024x585.jpg" alt="" class="img-fluid" id="fotoDePerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Walter Adrian Moreyra</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quo similique voluptate eligendi labore provident consequatur molestias nesciunt aliquid architecto ad laboriosam unde quisquam, quaerat sit atque, sed odio illum!</p>
        </span>
    </div>
</div>
